<link rel="stylesheet" href="../css/editProfile.css">

<div class="main-block">
  <div class="d-flex flex-grow-1 justify-content-center align-items-center position-relative">
    <div class="z-0 title-banner"></div>
    <div class="z-2 edit-title">
      <div class="position-relative picture-frame">
        <img id="profile-picture" src="../static/svg/default-user-picture.svg" alt="profile picture">
        <div class="upload-btn">
          <input type="file" id="file" class="d-none" accept=".png, .jpg, .jpeg">
          <label for="file" class="m-0 p-0 file-label">
            <img class="btn btn-primary ic-lg m-0 p-1" src="../static/svg/edit_button.svg" alt="edit button">
          </label>
        </div>
      </div>
    </div>
  </div>

  <form id="profileForm" class="form-block">
    <div class="d-flex flex-grow-1 first-block-input">
      <div class="col">
        <div class="d-flex flex-column h-100">
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="text" class="form-control mx-1 font-bs fs-xxl"
              id="displayName" name="displayName" data-i18n="display_name" placeholder="Display name">
          </div>
          <p id="displayName-error" class="font-bs text-error ms-3 p-0" data-i18n="error_display_name_same"></p>
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="email" class="form-control mx-1 font-bs fs-xxl"
              id="email" name="email" data-i18n="email" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column h-100 justify-content-start">
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="password" class="form-control mx-1 font-bs fs-xxl" autocomplete="on"
              id="password" name="password" data-i18n="password" placeholder="Password">
            <img class="btn-eye btn-hover ic-lg mx-1" src="../static/svg/eye.svg" alt="eye icon"
              onclick="togglePassword(this.previousElementSibling)">
          </div>
          <p id="password-error" class="font-bs text-error ms-3 p-0"></p>
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="password" class="form-control mx-1 font-bs fs-xxl" autocomplete="on"
              id="password2" name="password2" data-i18n="confirm_password" placeholder="Confirm Password">
            <img class="btn-eye btn-hover ic-lg mx-1" src="../static/svg/eye.svg" alt="eye icon"
              onclick="togglePassword(this.previousElementSibling)">
          </div>
          <p id="password2-error" class="font-bs text-error ms-3 p-0" data-i18n="error_confirm_password"></p>
        </div>
      </div>
    </div>
    <div class="second-block-input">
      <div class="d-flex position-relative">
        <textarea class="form-control font-bs bio-input" placeholder="About me..."
          id="bio" name="bio" data-i18n="about_me" maxlength="200"></textarea>
        <div class="font-bs char-count">0/200</div>
      </div>
      <div class="d-flex flex-column h-100">
        <div class="d-flex justify-content-center align-items-center flex-grow-1 edit-warning">
          <p class="font-bs-bold text-center" data-i18n="edit_profile_warning">
            Your changes will be lose if you don’t save them
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <a href="/profile">
            <button type="button" class="font-bs-bold btn btn-secondary edit-btn"
              data-i18n="back">Back</button>
          </a>
          <!-- <button type="submit" class="font-bs-bold btn btn-primary edit-btn" data-bs-dismiss="modal"
            data-i18n="save">Save</button> -->
          <button type="submit" class="font-bs-bold btn btn-primary edit-btn" data-i18n="save">Save</button>
        </div>
      </div>
    </div>

  </form>
</div>