<style>
	.game-home-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: var(--mg-md);
		margin-right: var(--mg-md);
	}
</style>

<div class="game-home-btn">
	<a class="m-0 p-0" href="/">
		<img class="ic-xl btn-hover p-0 mt-0 me-0" src="../static/svg/home.svg" alt="Home button">
	</a>
</div>

<div class="d-flex justify-content-center align-items-center h-100" id="game-page">
	<!-- popup for creating a room -->
	<!-- <div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createRoomModalLabel">CREATE ROOM</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="room-form">
						<div class="form-group">
							<label for="room-name">Room Name</label>
							<input class="form-control" id="room-name-input" type="text" placeholder="Enter your room name" name="room-name" required>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="createRoomBtn">Close</button>
				</div>
			</div>
		</div>
	</div>	 -->

	<div class="form-popup" id="room-name" style="display: none;">
			<form id="room-form" action="../js/gameUI/shared-resources.js" class="form-container">
				<h1>CREATE ROOM</h1>
				<label for="room-name"><b>Room Name</b></label>
				<input id="room-name-input" type="text" placeholder="Enter your room name" name="room-name" required>
				<button type="submit" class="btn">Confirm</button>
				<button type="button" class="btn cancle" onclick="closeForm()">Close</button>
			</form>
	</div>

	<!-- game UI -->
	<div>
		<canvas id="gameArea" width="1024" height="600"></canvas>
		<script type="module" src="../js/gameUI/utils.js"></script>
		<script type="module" src="../js/gameUI/main-menu.js"></script>
		<script type="module" src="../js/gameUI/tournament-board.js"></script>
		<script type="module" src="../js/gameUI/players-board.js"></script>
		<script type="module" src="../js/gameUI/online-menu.js"></script>
		<script type="module" src="../js/gameUI/online-board.js"></script>
	</div>
</div>