<link rel="stylesheet" href="css/gamePong.css">

<style>
</style>

<div class="d-flex justify-content-center align-items-center h-100" id="game-page">

	<!-- game UI -->
	<div id="game-block" class="d-flex justify-content-around">
		<div id="btn-player1" class="btn-block"></div>
		<canvas id="gameArea" width="1024" height="600"></canvas>
		<div id="btn-player2" class="btn-block"></div>
	</div>

	<!-- Modal Winner Contact -->
	<div class="modal fade" id="winnerOfflineModal" tabindex="-1" data-bs-backdrop="static">
		<div class="modal-dialog my-0 d-flex justify-content-center modal-dialog-centered">
			<div class="modal-content popup-content">
				<div class="modal-body">
					<div class="popup-frame">
						<h1 class="font-bs fs-xxl m-2" style="color: #fff;" data-i18n="winner">the winner</h1>
						<div class="d-flex justify-content-center popup-body m-3">
							<p id="winnerName" class="font-bs-bold h-md" style="color: #629DD2;"></p>
						</div>
						<div class="d-flex justify-content-around popup-footer w-100">
							<a id="redirectPage" class="m-0 p-0" href="/game">
								<button type="button" class="font-bs fs-lg btn btn-secondary flex-shrink-1 p-2 mx-2"
									data-i18n="back_to_game_menu" data-bs-dismiss="modal">back to game menu</button>
							</a>
							<button type="button" id="restart" class="font-bs fs-lg btn btn-primary p-2 mx-2"
								data-i18n="play_again">play agian</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- < Modal Exit Game -->
  <div class="modal fade" id="exitGameModal" tabindex="-1">
    <div class="modal-dialog my-0 d-flex justify-content-center modal-dialog-centered">
      <div class="modal-content popup-content">
        <div class="modal-body">
          <div class="popup-frame">
            <div class="popup-header-icon">
              <img src="../static/svg/alert.svg" alt="alert picture">
            </div>
            <h2 class="font-bs-bold fs-xl" style="color: #B63A3A;" data-i18n="confirm_exit">CONFIRM EXIT</h2>
            <div class="d-flex justify-content-center popup-body">
              <p class="font-bs fs-lg" style="color: #ffffff;" data-i18n="confirm_exit_content">
                Are you sure you want to exit from game ?
              </p>
            </div>
            <div class="d-flex justify-content-evenly popup-footer w-100">
              <button type="button" class="font-bs-bold btn btn-secondary"
                data-i18n="no" id="resume">No !!</button>
							<button type="button" class="font-bs-bold btn btn-danger"
								data-i18n="yes" id="submitExit">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>