<link rel="stylesheet" href="css/login.css">

<div class="d-flex justify-content-center align-items-end font-pixel font-stk-h1 block-login-title">
  <h2 class="title-1">42</h2>
  <h2 class="title-2">PONGAME
    <img class="img-login-pingpong-racket" src="../static/svg/Table tennis.svg" alt="Table tennis image">
  </h2>
</div>
<form id="login-form" action="#" method="post">
  <div class="container col-xxl-4 col-xl-5 col-sm-5 d-flex flex-column">
    <div class="d-flex block-login-input ">
      <img class="icon-custom" src="../static/svg/username.svg" alt="user image">
      <input type="text" class="border border-0 text-center font-bs-bold input-login-custom login-input"
        name="username" placeholder="Username" required>
      <img class="icon-custom btn-eye btn-hover" src="../static/svg/eye.svg" alt="eye image"
        style="visibility: hidden;">
    </div>
    <div class="d-flex block-login-input">
      <img class="icon-custom" src="../static/svg/lock.svg" alt="lock image">
      <input type="password" class="border border-0 text-center font-bs-bold input-login-custom login-input"
        autocomplete="on" name="password" placeholder="Password" required>
      <img class="icon-custom btn-eye btn-hover" src="../static/svg/eye.svg" alt="eye image"
        onclick="togglePassword(this.previousElementSibling)">
    </div>
    <p id="login-error" class="font-bs text-error p-0" data-i18n="error_login"></p>
    <div class="d-flex justify-content-end align-items-center from-check">
      <input type="checkbox" class="form-check-input checkbox-lg" id="remember-me">
      <label class="form-check-label font-bs-bold ms-2 checkbox-label-lg" for="remember-me">Remember Me</label>
    </div>
    <div class="d-flex rows block-login">
      <button type="submit" class="font-bs-bold btn btn-primary col fs-xl">Login</button>
      <a href="#" class="font-bs-bold btn btn-primary col fs-xl">Login with 42</a>
    </div>
    <div class="d-flex">
      <a href="/signup" class="flex-grow-1 font-bs-bold btn btn-primary fs-xl">New user? Create
        account</a>
    </div>
  </div>
</form>