<link rel="stylesheet" href="../css/main.css">

<nav class="d-flex align-items-center justify-content-between main-header">
  <div class="d-flex align-items-center box-profile" id="blockProfile">
    <div class="profile-frame">
      <a href="/profile">
        <img id="profilePicture" alt="profile-picture">
      </a>
    </div>
    <div>
      <p id="profileName" class="font-bs-bold fs-lg ms-2"></p>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end gap-3 me-4">
    <select class="rounded-pill font-bs-bold btn-custom-pill language-select" name="" id="languageSelect">
      <option value="en" data-i18n="english">English</option>
      <option value="th" data-i18n="thai">Thai</option>
    </select>
    <!-- popup exit -->
    <img class="ic-xl btn-hover"  data-bs-toggle="modal" data-bs-target="#logoutModal"
      src="../static/svg/Sign-out.svg" alt="Logout button"
    >
  </div>
</nav>
<div class="d-flex flex-column justify-content-center circle-background">
  <h2 class="d-flex justify-content-center m-0 font-train font-stk-h1 main-item1" data-i18n="welcome"></h2>
  <h3 class="d-flex justify-content-end m-0 font-train font-stk-h3 main-item2" data-i18n="to">TO</h3>
  <h3 class="d-flex justify-content-center m-0 font-pixel font-stk-h3 main-item3">42</h3>
  <h5 class="d-flex justify-content-center font-pixel font-stk-h3 main-item4">PONGAME</h5>
  <div class="d-flex justify-content-center main-item5">
    <button id="play-button" class="font-pixel font-stk-h3 btn-play" data-i18n="play" onclick="toGamePage()">PLAY</button>
    <!-- <a class="font-pixel font-stk-h3 btn-play" href="/game" data-i18n="play">PLAY</a> -->
  </div>
  <img class="pingpong-racket-main" src="../static/svg/Table tennis.svg" alt="Table tennis image">
</div>

<div class="main-footer d-flex align-items-stretch">
    <div class="d-flex justify-content-center align-items-center col-3">
      <div class="d-flex input-group-custom rounded-pill rounded-box-text">
        <p class="font-bs fs-lg" id="created_by" data-i18n="created_by">Created By</p>
      </div>
    </div>
    <div class="col-9 d-flex justify-content-around align-items-center fs-md">
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Tent.png" alt="Tent image">
        <p class="font-bs">LUCKYLOO</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Mos.png" alt="Mos image">
        <p class="font-bs">MOSCIVIL</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Mark.png" alt="Mark image">
        <p class="font-bs">MARKKK</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Prach.png" alt="Prach image">
        <p class="font-bs">PRACHMAN</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/May.png" alt="May image">
        <p class="font-bs">LULLNA</p>
      </div>
    </div>
</div>