<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/match-history.css">
	<link rel="stylesheet" href="../css/profile.css">
</head>
<body>
	<!-- icon menu -->
	<div class="icon-menu-container">
		<img class="icon-menu ic-xl btn-hover" data-bs-toggle="modal" data-bs-target="#notificationModal"
		  src="../static/svg/notification.svg" alt="notification button"
		>
        <a class="m-0 p-0" href="/">
          <img class="icon-menu ic-xl btn-hover p-0 mt-0 me-0" src="../static/svg/home.svg" alt="Home button">
        </a>
	</div>

	<h1 class="h-lg">MATCH HISTORY</h1>

	<!-- <div id="my-profile">
		<div class="profile-image">
			<img id="profileImage" alt="profile-picture">
		</div>
	</div> -->

	<!-- table headline -->
	<div id="headline" class="container-fluid ">
		<div class="row">
			<div class="col-3">
				Player 1
			</div>
			<div class="col">
				Score
			</div>
			<div class="col-3">
				Player 2
			</div>
			<div class="col-3">
				Date
			</div>
			<div class="col">
				Time
			</div>
		</div>
	  </div>

	<!-- tables -->
	<div id="match-history-table" class="container-fluid"></div>
	<!-- <div id="my-profile">
		<div class="col">
			<img id="profileImage" alt="profile-picture">
		</div>
	</div> -->
	<!-- <script src="../js/gameUI/history-table.js"></script> -->

	<!-- button -->
	<div class="wrapper">
		<!-- ! the buttton is not working yet -->
		<a href="game.html"> 
			<button class="font-bs-bold btn btn-primary bk-profile-button fs-lg" data-i18n="GAME MENU">GAME MENU &gt;&gt;</button>
		</a>
	</div>
</body>
</html>