<link rel="stylesheet" href="../css/match-history.css">

<div class="d-flex flex-column p-0 h-100">
	<!-- icon menu -->
	<div class="icon-menu-container">
		<img id="notiBtn" class="icon-menu ic-xl btn-hover" data-bs-toggle="modal" data-bs-target="#notificationModal"
			src="../static/svg/notification.svg" alt="notification button">
		<a class="m-0 p-0" href="/">
			<img class="icon-menu ic-xl btn-hover p-0 mt-0" src="../static/svg/home.svg" alt="Home button">
		</a>
		<a class="m-0 p-0" href="/profile">
			<img class="icon-menu ic-xl btn-hover p-0 mt-0" src="../static/svg/Sign-out.svg" alt="back button">
		</a>
	</div>

	<h1 class="h-lg title" data-i18n="match_history">MATCH HISTORY</h1>

	<!-- table headline -->
	<div class="container-fluid table-headline">
		<div class="row">
			<div class="col-3" data-i18n="player1">
				player 1
			</div>
			<div class="col" data-i18n="score">
				score
			</div>
			<div class="col-3" data-i18n="player2">
				player 2
			</div>
			<div class="col-3" data-i18n="date">
				date
			</div>
		</div>
	</div>

	<!-- table body -->
	<div id="match-history-table" class="container-fluid flex-grow-1 table-list overflow-auto scroll-custom"></div>

	<!-- button -->
	<div class="text-center">
		<a href="/game"> 
			<button class="font-bs-bold btn btn-primary fs-lg" data-i18n="game_menu">
				GAME MENU
			</button>
		</a>
	</div>

</div>