<link rel="stylesheet" href="../css/profile.css">

<div class="d-flex w-100 h-100">
  <div class="block-profile-main">
    <div id="my-profile" class="bk-item bk-profile">
      <div class="bk-profile-title">
        <div class="d-flex justify-content-center align-items-center">
          <div class="profile-image">
            <img id="profileImage" alt="profile-picture">
          </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center font-bs">
          <h1 class="h-md" id="displayName"></h1>
          <div>
            <img class="ic-md" src="../static/svg/email_icon.svg" alt="email icon">
            <p class="d-inline-block fs-lg" id="email"></p>
          </div>
          <p class="fs-lg bio-box" id="bio"></p>
        </div>
        <div class="edit-button">
          <a class="" href="/editProfile">
            <img class="btn btn-primary ic-lg" src="../static/svg/edit_button.svg" alt="edit button">
          </a>
        </div>
      </div>
      <div class="bk-profile-stat font-bs">
        <div class="micro-item">
          <p data-i18n="win_lose">WIN / LOSE</p>
          <p id="winLose" class="font-pixel font-stk-h3 stat"></p>
        </div>
        <div class="micro-item">
          <p data-i18n="total">TOTAL</p>
          <p id="totalPlay" class="font-pixel font-stk-h3 stat"></p>
        </div>
        <div class="micro-item">
          <p data-i18n="tour_won">TOURNAMENT WON</p>
          <p id="tourWon" class="font-pixel font-stk-h3 stat"></p>
        </div>
        <div class="micro-item">
          <p data-i18n="tour_join">TOURNAMENT JOIN</p>
          <p id="tourPlay" class="font-pixel font-stk-h3 stat"></p>
        </div>
      </div>
      <div class="d-flex justify-content-evenly">
        <a href="/history">
          <button class="font-bs-bold btn btn-primary bk-profile-button fs-lg" data-i18n="match_history_btn">MATCH HISTORY &gt;&gt;</button>
        </a>
        <a href="/leaderboard">
          <button class="font-bs-bold btn btn-primary bk-profile-button fs-lg" data-i18n="leaderboard_btn">LEADERBOARD &gt;&gt;</button>
        </a>
      </div>
      <div class="d-flex justify-content-evenly align-item">
      </div>
    </div>
    <div class="bk-friend">
      <div class="d-flex align-items-start justify-content-end bk-friend-title">
        <img id="notiMsgBtn" class="icon-menu ic-xl btn-hover" data-bs-toggle="modal" data-bs-target="#notiMsgModal"
          src="../static/svg/noti-msg.svg" alt="notification Message button">
        <img id="notiBtn" class="ic-xl btn-hover"  data-bs-toggle="modal" data-bs-target="#notificationModal"
          src="../static/svg/noti-friend.svg" alt="notification button"
        >
        <a class="m-0 p-0" href="/">
          <img class="ic-xl btn-hover p-0 mt-0 me-0" src="../static/svg/home.svg" alt="Home button">
        </a>
      </div>
      <div class="bk-item bk-friend-list-title">
        <h1 class="font-pixel font-stk-h3 friend-title h-md" data-i18n="friends">Friends</h1>
        <ol class="d-flex flex-column align-items-center overflow-auto bk-friend-list scroll-custom" id="friendList"></ol>
      </div>
    </div>
  </div>
</div>
