<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Transcendence</h1> 
  <form action="http://localhost:8132/api/user/register" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="avatar_name">Avatar Name:</label><br>
    <input type="text" id="avatar_name" name="avatar_name"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>