.block-login-title {
  height: 30vh;
  flex-wrap: wrap;
  transform: translateX(-5%);
}

.block-login-input {
  border-bottom: solid 5px var(--clr-border);
  font-size: var(--fs-xxl);
}

.input-login-custom {
  min-width: 0;
}

.img-login-pingpong-racket {
  width: clamp(180px, 18vw + 2rem, 350px);
  bottom: 0;
  z-index: -2;
  transform: translateX(-50%);
  position: absolute;
}

input:focus {
  border: transparent;
  outline: none;
  box-shadow: none;
}

/* input:focus-within {
} */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  appearance: none;
  -webkit-text-fill-color: var(--clr-text) !important;
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
}
