<link rel="stylesheet" href="../css/editProfile.css">

<div class="main-block">
  <div class="d-flex flex-grow-1 justify-content-center align-items-center position-relative">
    <div class="z-0 title-banner"></div>
    <div class="z-2 edit-title">
      <div class="position-relative picture-frame">
        <img src="../static/svg/default-user-picture.svg" alt="profile picture">
        <div class="upload-btn">
          <a class="" href="#">
            <img class="btn btn-primary ic-lg p-1" src="../static/svg/edit_button.svg" alt="edit button">
          </a>
        </div>
      </div>
    </div>
  </div>

  <form action="" class="form-block">
    <div class="d-flex flex-grow-1 first-block-input">
      <div class="col">
        <div class="d-flex flex-column h-100">
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="text" id="editName" class="form-control mx-3 font-bs fs-xxl" placeholder="Avatar name" disabled
              readonly>
          </div>
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="email" class="form-control mx-3 font-bs fs-xxl" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex flex-column h-100 justify-content-start">
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="password" class="form-control mx-3 font-bs fs-xxl" placeholder="Password">
            <div class="input-group-append mx-1">
              <img class="btn-eye btn-hover ic-lg mx-2" src="../static/svg/showpassword.svg" alt="eye icon"
                onclick="togglePassword(this.parentNode.previousElementSibling)">
            </div>
          </div>
          <div class="input-group input-group-custom rounded-pill d-flex align-items-center edit-input">
            <input type="password" class="form-control mx-3 font-bs fs-xxl" placeholder="Confirm Password">
            <div class="input-group-append mx-1">
              <img class="btn-eye btn-hover ic-lg mx-2" src="../static/svg/showpassword.svg" alt="eye icon"
                onclick="togglePassword(this.parentNode.previousElementSibling)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-block-input">
      <div class="d-flex position-relative">
        <textarea class="form-control font-bs bio-input" name="" id="bioInput" placeholder="About me..."
          maxlength="200"></textarea>
        <div class="font-bs char-count">0/200</div>
      </div>
      <div class="d-flex flex-column h-100">
        <div class="d-flex justify-content-center align-items-center flex-grow-1 edit-warning">
          <p class="font-bs-bold text-center">Your changes will be lose if you don’t save them</p>
        </div>
        <div class="d-flex justify-content-between">
          <a href="/profile">
            <button type="button" class="font-bs-bold btn btn-secondary edit-btn" data-bs-dismiss="modal">Back</button>
          </a>
          <button type="submit" class="font-bs-bold btn btn-primary edit-btn" data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>

  </form>
</div>