<link rel="stylesheet" href="css/login.css">

<div class="d-flex justify-content-center align-items-end mb-5 font-pixel font-stk-h1 block-login-title">
  <h1>42</h1>
  <h2>PONGAME
    <img class="img-login-pingpong-racket" src="../static/svg/Table tennis.svg" alt="Table tennis image">
  </h2>
</div>
<form id="login-form" action="#" method="post">
  <div class="container col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-9 d-flex flex-column">
    <div class="d-flex block-login-input ">
      <img class="icon-custom" src="../static/svg/username.svg" alt="user image">
      <input type="text" class="border border-0 text-center font-bs-bold input-login-custom login-input" name="username"
        placeholder="Username" required>
      <div class="icon-custom"></div>
    </div>
    <div class="d-flex my-3 block-login-input">
      <img class="icon-custom" src="../static/svg/password.svg" alt="lock image">
      <input type="password" class="border border-0 text-center font-bs-bold input-login-custom login-input"
        name="password" placeholder="Password" required>
      <img class="icon-custom btn-eye" src="../static/svg/showpassword.svg" alt="eye image"
        onclick="togglePassword(this.previousElementSibling)">
    </div>
    <div class="font-bs text-error" id="popOutErrMsg">incorrect username or password!</div>
    <div class="d-flex justify-content-end my-3 from-check">
      <input type="checkbox" class="form-check-input checkbox-lg" id="remember-me">
      <label class="form-check-label font-bs-bold ms-2 checkbox-label-lg" for="remember-me">Remember Me</label>
    </div>
    <div class="d-flex my-3 rows gap-4">
      <button type="submit" class="font-bs-bold btn btn-primary btn-custom col py-2 px-1">Login</button>
      <a href="#" class="font-bs-bold btn btn-primary btn-custom col py-2 px-1">Login with 42</a>
    </div>
    <div class="d-flex my-3">
      <a href="/signup" class="flex-grow-1 font-bs-bold btn btn-primary btn-custom py-2 px-1">New user? Create
        account</a>
    </div>
  </div>
</form>

<script src="../js/login.js"></script>