<link rel="stylesheet" href="../css/main.css">

<nav class="d-flex align-items-center justify-content-between main-header">
  <div class="d-flex align-items-center box-profile">
    <div class="profile-frame">
      <a href="/profile">
        <img src="../static/svg/default-user-picture.svg" alt="profile-picture">
      </a>
    </div>
    <div class="online-status"></div>
    <div>
      <p class="font-bs-bold fs-lg">Wink_Warrior</p>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end gap-3 me-4">
    <a href="#" class="btn btn-outline-primary rounded-pill font-bs-bold btn-custom-pill fs-lg">Enlish</a>
    <!-- popup exit -->
    <img class="ic-xl btn-hover" src="../static/svg/Sign-out.svg" alt="sign out button">
  </div>
</nav>
<div class="d-flex flex-column justify-content-center circle-background">
  <h2 class="d-flex justify-content-center m-0 font-train font-stk-h1 main-item1">WELCOME</h2>
  <h3 class="d-flex justify-content-end m-0 font-train font-stk-h3 main-item2">TO</h3>
  <h3 class="d-flex justify-content-center m-0 font-pixel font-stk-h3 main-item3">42</h3>
  <h5 class="d-flex justify-content-center font-pixel font-stk-h3 main-item4">PONGAME</h5>
  <div class="d-flex justify-content-center main-item5">
    <a class="font-pixel font-stk-h3 btn-play" href="#">PLAY</a>
  </div>
  <img class="pingpong-racket-main" src="../static/svg/Table tennis.svg" alt="Table tennis image">
</div>

<div class="main-footer d-flex align-items-stretch">
    <div class="d-flex justify-content-center align-items-center col-3">
      <div class="d-flex input-group-custom rounded-pill rounded-box-text">
        <p class="font-bs fs-lg" id="credit_by">Credited By</p>
      </div>
    </div>
    <div class="col-9 d-flex justify-content-around align-items-center fs-md">
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Tent.png" alt="Tent image">
        <p class="font-bs">LUCKYLOO</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Mos.png" alt="Mos image">
        <p class="font-bs">MOSCIVIL</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Mark.png" alt="Mark image">
        <p class="font-bs">MARKKK</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/Prach.png" alt="Prach image">
        <p class="font-bs">PRACHMAN</p>
      </div>
      <div class="credit-picture d-flex flex-column align-items-center">
        <img src="../static/images/May.png" alt="May image">
        <p class="font-bs">LULLNA</p>
      </div>
    </div>
</div>