p {
  margin: 0;
}

/* canvas {
  width: 70%;
  object-fit: contain;
} */

.profile-frame {
  width: min(90px, 10px + 4vw);
  aspect-ratio: 1 / 1;
  position: relative;
}

.profile-frame img {
  border: var(--bs-lg) solid var(--clr-border);
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.btn-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: min(120px, 10px + 5vw);
}

.btn-key {
  font-size: 20px;
  color: #A2B1B5;
  background-color: #0946A6;
  height: min(140px, 30px + 5vw);
  border-radius: min(20px, 10px + 4vw);
}

.modal-content {
  width: 150%;
}