.bk-main {
  display: grid;
  grid-template-rows: 2fr 3fr auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.bk-leader {
  margin: 0 var(--mg-lg);
}

.bk-picture-title {
  margin: var(--mg-lg) 0;
}
.profile-image {
  width: min(160px, max(calc(160px * 0.15) + calc(160vw * 0.038), calc(160px * 0.15) + calc(160vh * 0.038)));
  aspect-ratio: 1 / 1;
}
.bk-ribbon {
  display: flex;
  position: relative;
}
.bk-ribbon > p {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -20%);
  white-space: nowrap;
}
.ribbon {
  width: min(300px, max(calc(300px * 0.15) + calc(300vw * 0.055), calc(300px * 0.15) + calc(300vh * 0.055)));
}
.medal {
  position: absolute;
  left: 50%;
  width: min(60px, max(calc(60px * 0.15) + calc(60vw * 0.050), calc(60px * 0.15) + calc(60vh * 0.050)));
  transform: translate(-50%, -40%);
}
.crown {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}
.crown > img {
  width: min(80px, max(calc(80px * 0.15) + calc(80vw * 0.038), calc(80px * 0.15) + calc(80vh * 0.038)));
}

.bk-table {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.table-headline {
	font-family: 'Orbitron', 'system ui';
	font-size: var(--fs-xl);
	font-weight: bold;
	color: #A2B1B5;
	text-align: center;
	background-color: #0946A6;

	border: var(--bs-md) solid var(--clr-grey);
	border-radius: min(5px, calc(5px * 0.20) + calc(5vw * 0.038));
  padding: var(--bs-md) 0;
}

.player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: var(--mg-md);
}
.player-list-item {
  position: relative;
  margin: var(--bs-lg) 0;
  padding: var(--bs-md) 0;
}
.player-item-background {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 60%;
  transform: translateY(-50%);
  top: 50%;
  border: var(--bs-md) solid var(--clr-border);
  background-color: var(--clr-text);
	border-radius: var(--bs-xl);
}
.player-item-picture {
  display: flex;
  justify-content: center;
}
.player-item-picture img {
	border: var(--bs-md) solid var(--clr-border);
	border-radius: 50%;
	width: min(85px, max(calc(85px * 0.15) + calc(85vw * 0.038), calc(85px * 0.15) + calc(85vh * 0.038)));
	aspect-ratio: 1 / 1;
}
.player-item-content {
	font-family: 'Orbitron', 'system ui';
	font-size: var(--fs-xl);
	font-weight: bold;
	color: #0946A6;
  display: flex;
  align-items: center;
  justify-content: center;
}